@font-face {
    font-family: 'Roboto Th';
    src: url('Roboto-ThinItalic.woff2') format('woff2'),
        url('Roboto-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Th';
    src: url('Roboto-Thin.woff2') format('woff2'),
        url('Roboto-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.woff2') format('woff2'),
        url('Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Lt';
    src: url('Roboto-MediumItalic.woff2') format('woff2'),
        url('Roboto-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Lt';
    src: url('Roboto-Medium.woff2') format('woff2'),
        url('Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Lt';
    src: url('Roboto-LightItalic.woff2') format('woff2'),
        url('Roboto-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Lt';
    src: url('Roboto-Light.woff2') format('woff2'),
        url('Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Italic.woff2') format('woff2'),
        url('Roboto-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Cn';
    src: url('Roboto-CondensedItalic.woff2') format('woff2'),
        url('Roboto-CondensedItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Cn';
    src: url('Roboto-Condensed.woff2') format('woff2'),
        url('Roboto-Condensed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-BoldItalic.woff2') format('woff2'),
        url('Roboto-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Cn';
    src: url('Roboto-BoldCondensedItalic.woff2') format('woff2'),
        url('Roboto-BoldCondensedItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Cn';
    src: url('Roboto-BoldCondensed.woff2') format('woff2'),
        url('Roboto-BoldCondensed.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Bold.woff2') format('woff2'),
        url('Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Bk';
    src: url('Roboto-BlackItalic.woff2') format('woff2'),
        url('Roboto-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Bk';
    src: url('Roboto-Black.woff2') format('woff2'),
        url('Roboto-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
*{
    font-family: Smile;
    font-weight: 10;
    box-sizing: border-box;
}
body{
    background-color: #222;
    font-family: Roboto;
}
img{
    width: 20px;
    margin: 0 10px;
   
   
}
.gohan{
    border-radius: 100%;
    margin:0 15px;
    width: 30px;
    height: 30px;
}
.container{
   background: #ddd;
    height: 100%;
    width: 100%;
    padding: 10px;
    overflow: auto;
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: auto auto 1fr;
}
.nav{
    margin: -10px -10px;
    grid-area: 1 / 2 / 2 / span 2;
    display: inline-grid;
    grid-template-rows: auto auto;
    grid-auto-flow: column;
    background:#fff;
    box-shadow: 1px 1px 10px gray;
}
button{
    background: rgb(40, 157, 230);
    color: white;
    font-weight: 700;
    border: 1px solid white;
    padding: 10 30px;
    border-radius: 10px;

}
.top1{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 2fr 1fr;
    margin-top: 10px;
}

.sticker{
    margin-top: -18px;
}

.top2{
    margin-top: -15px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
}
.intro{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-auto-flow: column;
    grid-template-columns: 1fr 4fr;
}
.center img{
    height: 50px;
    width: 50px;
}
.h3,p:nth-child(2){
    margin-top: -20px;
}
.button{
     display: flex;
     justify-content: center;
     align-items: center;
   gap: 10px;
   padding: 10px;
   
   
}
.button > div{
    border-radius: 20px;

    background:rgb(28, 138, 206);
    color: white;
    font-weight: 700;
}

.sidebar{
    position: relative;
    top: 10px;
    height: calc(100% + 150px);
    margin: -20px 10px 0px -10px;
    grid-area: 1 / 1 / span 3 / 2;
    display: flex;
    justify-items: start;
    align-items: center;
    flex-direction: column;
    font-size: 1rem;
    flex: 100%;
    flex: 1;
    margin-left: -50px;
    flex-wrap: wrap;
    padding-top: -10px;
    background: rgb(48, 166, 240);
}
.sidebar div img{
    margin-top: -50px;
    position: relative;
    top: 40px;
    width: 3vw;
    height: 8vh;
    margin-bottom: 10px;
}
.Dashboard{
    margin-top: -5px;
    margin-bottom: 100px;
    margin-left: 30px;
}

.home{
    margin-left: 2px;
}
.profile{
    margin-left: 10px;
}
.message{
    margin-left: 20px;
}
.history{
    margin-left: 10px;
}
.communities{
    margin-left: 50px;
}
.settings{
    margin-top: 100px;
}

.article{
    margin-top: 10px;
   grid-area: 3 / 2 / 4 / 3; 
   display: grid;
   gap: 10px;
   grid-template-columns: 3fr 1fr;

}

.your-projects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
 
}
.your-projects div{
       border: 1px solid whitesmoke;
    border-radius: 10px;
        box-shadow: 2px 1px 1px gray;

    border-left: 4px solid goldenrod;
}
.announcements{
    display: grid;
    grid-template-columns: auto;
    gap: 50px;
    border-radius: 10px;
}
.announcements div{
    border: 1px solid whitesmoke;
        border-radius: 10px;
                box-shadow: 2px 1px 1px gray;


}
.row{
    display: flex;
    grid-area: 2 / 2 / 3 / 3;
    justify-content: flex-start;

}
.row > h2 {
    flex: 1;
    margin-bottom: -10px;
}
.row > div {
    flex: 2;
}

.trending{
    margin: 10px 10px 0px 10px;
     display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    border: 1px solid whitesmoke;
    border-radius: 10px;  
            box-shadow: 2px 1px 1px gray;

}
